# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual Environment
.venv/

# PyCharm / IntelliJ
.idea/
.vscode/
*.iml

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

db.sqlite3

data/
models/
media/
logs/
*.h5
*.pt
*.pth
